
// flex
$flex-jc: (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around
);

$flex-ai: (
    start: flex-start,
    end: flex-end,
    center: center,
    stretch: stretch
);

// font-size
$base-font-size: 1rem;
$font-sizes: (
    xs: 1.0769, // 14px
    s: 1.2308,  // 13px
    m: 1.3846, // 18px
    l: 1.5385, // 20px
    xl: 1.6923, // 22px
)